<script lang="ts">
    import { onMount } from "svelte";
    import { Pulse } from "svelte-loading-spinners";

    interface WebInstance {
        url: string;
        settings: Settings;
        rules: {
            failureRate: number;
            successRate: number;
        };
    }

    interface Settings {
        history: number;
        interval: number;
        timeout: number;
    }

    interface Status {
        code: number;
        message: string;
        timestamp: string;
    }

    interface Data {
        monitoredWebsites: WebInstance[];
        data: Status[][];
        alertStatus: boolean[];
    }

    interface AlertTargets {
        alertTargets: any[];
    }

    let data: Data;
    let lastUpdate = "Loading...";
    let alertTargets: number;

    const formatDate = (date: Date) => {
        let result =
            date.getHours() +
            ":" +
            ("0" + date.getMinutes()).slice(-2) +
            ":" +
            ("0" + date.getSeconds()).slice(-2) +
            " " +
            date.getDate() +
            "." +
            (date.getMonth() + 1) +
            "." +
            date.getFullYear();

        return result;
    };

    let modalDataIndex = 0;
    let modalVisible = false;

    $: modalData = data ? data.data[modalDataIndex].slice().reverse() : [];

    const closeModal = () => {
        modalVisible = false;
    };

    const openModal = () => {
        modalVisible = true;
    };

    const fillModalData = (index) => {
        modalDataIndex = index;
    };

    // const faviconHandler = e => {
    //     if (e.target.src.slice(-3) == "ico") {
    //         e.target.src = e.target.src.slice(0, -3) + "png"
    //     }

    // }
    // on:error={faviconHandler}

    const fetchData = async () => {
        const response = await fetch(process.env.DATA_URL);

        data = await response.json();
        lastUpdate = formatDate(new Date());
    };

    onMount(async () => {
        const response = await fetch(process.env.ALERTTARGETS_URL);

        alertTargets = ((await response.json()) as AlertTargets).alertTargets
            .length;

        fetchData();
    });

    setInterval(fetchData, 5000);
</script>

<main>
    <header class="p-2 ">
        <span class="mx-1 tag is-dark">Last fetch: {lastUpdate}</span>
        <span class="tag is-dark">Alert targets: {alertTargets}</span>
    </header>
    <div class="container">
        <div class="columns is-multiline m-auto">
            {#if data}
                {#each data.monitoredWebsites as web, index}
                    <div
                        class="column is-full-mobile is-half-tablet is-one-third-widescreen is-one-third-fullhd "
                    >
                        <div
                            class="card"
                            class:glow-red={data.alertStatus[index]}
                        >
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-32x32">
                                            <img
                                                src={web.url + "/favicon.png"}
                                                alt="icon"
                                            />
                                        </figure>
                                    </div>
                                    <div style="overflow: hidden">
                                        <div
                                            class="media-content"
                                            style="white-space: nowrap; "
                                        >
                                            <a
                                                href={web.url}
                                                target="_blank"
                                                class="is-1">{web.url}</a
                                            >
                                        </div>
                                    </div>
                                </div>

                                <div class="content">
                                    <span
                                        class="tag is-medium"
                                        class:is-success={data.data[index].at(
                                            -1
                                        ).code < 400}
                                        class:is-warning={data.data[index].at(
                                            -1
                                        ).code >= 400 &&
                                            data.data[index].at(-1).code < 500}
                                        class:is-danger={data.data[index].at(-1)
                                            .code >= 500}
                                        >{data.data[index].at(-1).code}
                                        {data.data[index].at(-1).message}
                                    </span>
                                    <br />
                                    Last update:
                                    <span class="update"
                                        >{data.data[index].at(-1)
                                            .timestamp}</span
                                    >
                                    <br />
                                    Alert status:
                                    <span
                                        class="update"
                                        class:has-text-weight-semibold={data
                                            .alertStatus[index]}
                                        >{data.monitoredWebsites[index].rules
                                            .failureRate == -1 ||
                                        data.monitoredWebsites[index].rules
                                            .successRate == -1
                                            ? "disabled"
                                            : data.alertStatus[index]
                                            ? "Triggered"
                                            : "OK"}</span
                                    >
                                </div>
                                <button
                                    class="button is-rounded is-fullwidth is-outline"
                                    on:click={() => {
                                        fillModalData(index);
                                        openModal();
                                    }}>View log</button
                                >
                            </div>
                        </div>
                    </div>
                {/each}
            {:else}
                <div
                    class="column is-full is-flex is-justify-content-center is-align-items-center "
                >
                    <div class="p-6">
                        <Pulse
                            size="60"
                            color="#ececec"
                            unit="px"
                            duration="1s"
                        />
                    </div>
                </div>
            {/if}
        </div>
    </div>
    <div class="modal" class:is-active={modalVisible}>
        <div class="modal-background" />
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title has-text-light">
                    {data
                        ? data.monitoredWebsites[modalDataIndex].url
                        : "Title"}
                </p>
                <button
                    class="delete"
                    aria-label="close"
                    on:click={closeModal}
                />
            </header>
            <section class="modal-card-body">
                {#each modalData as item}
                    <div>{item.timestamp} - {item.code} {item.message}</div>
                {/each}
            </section>
            <footer class="modal-card-foot" />
        </div>
    </div>
</main>

<style>
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

    .update {
        font-weight: 300;
    }

    .glow-red {
        box-shadow: 0px 0px 10px 5px red;
    }

    header {
        background-color: #111111;
    }
    .card {
        background-color: #ececec;
    }
</style>
